
<div class="result-list">
	<ej-list-view  id="allitems"  dataSource="ViewBag.lst" render-template="true" template-id="list-template" >
    </ej-list-view>
</div>




    <script id="list-template" type="text/x-jsrender">
    <div class="item">
	    <div class="list-head">
	        <a href="{{>url}}">
	            <img src="{{>img}}" class="list-img" />
	        </a>
	    </div>
	
	    <div class="list-content">
	        <div class="list-title">
                <h4>{{>title}}</h4>
            </div>
	        <div class="price">
               <h5> {{>price}} </h5>
            </div>
            <div class="list-date">
                <p> {{>date}} </p>
            </div>
	    </div>
    </div>
   </script>

<style>

	    .list-date{
	        color:#757575;
	    }

        .result-list .e-list {
            height: 105px !important;
            padding: 5px;
        }

	    .list-img {
	        margin: 0;
            padding: 3px 3px 3px 3px;
            border: 0 none;
	        width:auto;
	        height:auto;
            max-width: 130px;
	        max-height:90px;
            float: left;
	    }
	
	    .list-head{
	        margin-left:5px;
	        margin-right:10px;
	    }
	    .list-title h4{
	        color:#1e88e5;  
	    }
	    .list-content {
	        margin-left:148px;
	    }
</style>
